@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  /* background-image: linear-gradient(to right, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb, #fbc2eb);
  font-family:"Poppins", sans-serif; */
  background-image: url(./img/todoApp.avif);
  background-size: cover;
}

.container {
background-color: rgba(0, 0, 0, .1);

 margin: 3rem auto;
 max-width: 600px;
 padding: 2rem;

 border-radius: 5px;
}

h3 {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* yapılmamış false */
.sariFalse {

  background: #DCD7CF;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
/* yapılmış true */
.griTrue {
  border-left: 10px solid #B3ACA2;
  text-decoration: line-through;
  background-color: #707A3F;
  padding: 10px 20px;

}
header {
  text-align: center;
  margin: 1rem;
}

.btn {
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}


.formControl {
  margin: 20px 0;
}



.formControl input {
  width: 100%;
  height: 40px;
  padding: 1rem;
  font-size: 17px;
  border-radius: 5px;
  border: none;
}

.btn-submit {

  width: 100%;
  background-color: #ffdcb2;
  margin: 2rem 0;
  color: black;
}
